---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body{ 
    font-family: 'Playfair Display', serif;
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #fff3f3d6);
    
}

}
@media screen and (min-width: 64em)
    .page-header {80%
    padding: 5rem 6rem;
        
      
       .project-name {
    margin-top: 0;
    margin-bottom: 0.1rem;
    color: black;
} 

       
