---
---

@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #fff3f3d6);
    
}

}
@media screen and (min-width: 64em)
.page-header {110%
    padding: 5rem 6rem;
